<nav>
	<ul>
		<li>
			<a href="/tictactoe">TicTacToe</a>
		</li>
		<li>
			<a href="/hangman">Hangman</a>
		</li>
		<% if current_user %>
			<li>
				<a href="/profile">Profile</a>
			</li>
		<% end %>
	</ul>
</nav>