<h1>TicTacToe</h1>

<button class="get_opponents">Find Opponents</button>
<button class="current_games">Current Games</button>
<div class="game cf">
	<div class="tic">
		<div class="tac" coords="0,0" index="0"></div>
		<div class="tac" coords="1,0" index="1"></div>
		<div class="tac" coords="2,0" index="2"></div>
		<div class="tac" coords="0,1" index="3"></div>
		<div class="tac" coords="1,1" index="4"></div>
		<div class="tac" coords="2,1" index="5"></div>
		<div class="tac" coords="0,2" index="6"></div>
		<div class="tac" coords="1,2" index="7"></div>
		<div class="tac" coords="2,2" index="8"></div>
	</div>	
</div>

<script> 
	var $tic = $('.tic');
	var $tac = $('.tac');
	var $get_opponents = $('.get_opponents');
	var $new_game = $('.new_game')
	var $current_games = $('.current_games')

	$(document).on('click', '.opponents-container a', function(e){
		e.preventDefault();
		$('.opponents-container').remove();
	});

	$(document).on('click', '.opponent', function(e){
		e.preventDefault();
		var opponent_id = $(this).attr('id')
		$.ajax({
			method: 'POST',
			url: '/tictactoe/new',
			data: {id: opponent_id},
			dataType: 'JSON',
			success: function(data){
					load_board(data[1]);
					$tic.attr('id', data[0]);
			}
		});
	});

	$(document).on('click', '.opponent-game', function(e){
		e.preventDefault();
		var game_id = $(this).attr('id')
		$.ajax({
			method: 'GET',
			url: '/tictactoe/load',
			data: {id: game_id},
			success: function(data){
				var result = data.substring(1, data.length-1);
				load_board(result);
				$tic.attr('id', game_id);
			}
		});
	});

	function load_board(game_state){
		$tac.text('');
		$(game_state.split('')).each(function(i, x){
			if(x !== "0"){
				$('.tac[index="'+i+'"]').text(x);
			}
		});
	}

	$(function(){

		$get_opponents.on('click', function(){
			$.ajax({
				method: 'GET',
				url: '/tictactoe/opponents',
				dataType: 'JSON',
				success: function(data){
					var $div = $('<div class="opponents-container">');
					var $a = $('<a href="#">');
					$a.text('x');
					$div.append($a);
					var $ul = $('<ul class="opponents">');

					$(data).each(function(i, object){
						var $li = ('<li class="opponent" id="' + object.id +'"><a href="#">'+ object.username);
						$ul.append($li);
					})

					$div.append($ul);
					$('body').append($div);
				}
			});
		});

		$current_games.on('click', function(){
			$.ajax({
				method: 'GET',
				url: '/tictactoe/games',
				dataType: 'JSON',
				success: function(data){
					var $div = $('<div class="opponents-container">');
					var $a = $('<a href="#">');
					$a.text('x');
					$div.append($a);
					var $ul = $('<ul class="opponents">');
					$(data).each(function(i, id){
						var $li = $('<li class="opponent-game" id="'+id+'">');
						var $a = $('<a href="#">')
						$a.text(id);
						$li.append($a);
						$ul.append($li);
					});

					$div.append($ul);
					$('body').append($div);
				}
			});
		});

		$tac.on('click', function(){
			$choice = $(this);
			$.ajax({
				method: 'POST',
				url: '/tictactoe/turn',
				dataType: 'JSON',
				data: {
					coords: $choice.attr("coords"),
					game_id: $tic.attr('id')
				},
				success: function(data){
					load_board(data[1]);
					if(data[0] == 'X' || data[0] == 'O'){
						var $container = ('<div class="container">');
						var $h1 = ('<h1>');
						$h1.text(data[0] + " WINS!");
						$container.append($h1);
						$('body').append($container);
						console.log(data[0], 'wins');
					} else if (data[0] == 'tie'){
						var $container = ('<div class="container">');
						var $h1 = ('<h1>');
						$h1.text("TIE!");
						$container.append($h1)
						$('body').append($container)
					}
				}
			});
		});

	});

</script>