<h1>TicTacToe</h1>
<h2>Current Leader: <%= @leader_username + " " + @number_wins +" wins." %></h2>	

<button class="get_opponents">Find Opponents</button>
<button class="current_games">Current Games</button>
<div class="game cf">
	<div class="tic">
		<div class="tac" coords="0,0" index="0"></div>
		<div class="tac" coords="1,0" index="1"></div>
		<div class="tac" coords="2,0" index="2"></div>
		<div class="tac" coords="0,1" index="3"></div>
		<div class="tac" coords="1,1" index="4"></div>
		<div class="tac" coords="2,1" index="5"></div>
		<div class="tac" coords="0,2" index="6"></div>
		<div class="tac" coords="1,2" index="7"></div>
		<div class="tac" coords="2,2" index="8"></div>
	</div>	
</div>

<script> 
	var $tic = $('.tic');
	var $tac = $('.tac');
	var $get_opponents = $('.get_opponents');
	var $new_game = $('.new_game')
	var $current_games = $('.current_games')

	$(document).on('click', '.opponents-container a', function(e){
		e.preventDefault();
		$('.opponents-container').remove();
	});

	$(document).on('click', '.opponent', function(e){
		e.preventDefault();
		var opponent_id = $(this).attr('id')
		$.ajax({
			method: 'POST',
			url: '/tictactoe/new',
			data: {id: opponent_id},
			dataType: 'JSON',
			success: function(data){
					load_board(data[1]);
					$tic.attr('id', data[0]);
			}
		});
	});

	$(document).on('click', '.opponent-game', function(e){
		e.preventDefault();
		var game_id = $(this).attr('id')
		$.ajax({
			method: 'GET',
			url: '/tictactoe/load',
			data: {id: game_id},
			dataType: 'JSON',
			success: function(data){
				load_board(data[1]);
				checkStatus(data[0]);
				check5Minutes();
				$tic.attr('id', game_id);
			}
		});
	});

	function load_board(game_state){
		$tac.text('');
		$(game_state.split('')).each(function(i, x){
			if(x !== "0"){
				$('.tac[index="'+i+'"]').text(x);
			}
		});
	}

	function checkStatus(status){
		var $statusContainer = $('<div class="status-container">');
		var $h1 = $('<h1>');
		if(status){
			if(status == 'won'){
				$h1.text("THREE IN A ROW. YOU WIN!");
			}else if(status == 'loss'){
				$h1.text("You lose... Dundundunnnnnnn");
			}else if(status == 'tie'){
				$h1.text("Tie game!");
			}
			$statusContainer.append($h1);
			$('body').append($statusContainer);
		}
	}

	function check5Minutes(){
		var x = 0
		var check = setInterval(function(){
			if (++x === 10){
				window.clearInterval(check);
			}
			game_id = $tic.attr('id');
			if(game_id){
				$.ajax({
					method: 'GET',
					url: '/tictactoe/load',
					data: {id: game_id},
					dataType: 'JSON',
					success: function(data){
						load_board(data[1]);
						checkStatus(data[0]);
						$tic.attr('id', game_id);
					}
				});
			}
		}, 1000 * 30);
	}

	$(function(){

		if ($tic.attr('id')){
			check5Minutes();
		}

		$get_opponents.on('click', function(){
			$.ajax({
				method: 'GET',
				url: '/tictactoe/opponents',
				dataType: 'JSON',
				success: function(data){
					var $div = $('<div class="opponents-container">');
					var $a = $('<a href="#">');
					$a.text('x');
					$div.append($a);
					var $ul = $('<ul class="opponents">');

					$(data).each(function(i, object){
						var $li = ('<li class="opponent" id="' + object.id +'"><a href="#">'+ object.username);
						$ul.append($li);
					})

					$div.append($ul);
					$('body').append($div);
				}
			});
		});

		$current_games.on('click', function(){
			$.ajax({
				method: 'GET',
				url: '/tictactoe/games',
				dataType: 'JSON',
				success: function(data){
					var $div = $('<div class="opponents-container">');
					var $a = $('<a href="#">');
					$a.text('x');
					$div.append($a);
					var $ul = $('<ul class="opponents">');
					$(data).each(function(i, id){
						var $li = $('<li class="opponent-game" id="'+id+'">');
						var $a = $('<a href="#">')
						$a.text(id);
						$li.append($a);
						$ul.append($li);
					});

					$div.append($ul);
					$('body').append($div);
				}
			});
		});

		$tac.on('click', function(){
			$choice = $(this);
			if($choice.text()){
				console.log("You can't make a move on an existing move!");
				}else{
					$.ajax({
						method: 'POST',
						url: '/tictactoe/turn',
						dataType: 'JSON',
						data: {
							coords: $choice.attr("coords"),
							game_id: $tic.attr('id')
						},
						success: function(data){
							load_board(data[1]);
							checkStatus(data[2]);
							check5Minutes();
						}
					});
				}
		});

	});

</script>